* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
body > div {
  height: 100vh;
  width: 100vw;
}

#navbar,
#footer {
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  background-color: #f8f9fa;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#navbar a,
#footer a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

#navbar a:hover,
#footer a:hover {
  color: #007bff;
}

#main-section {
  flex-grow: 1;
  padding: 2em;
}

#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.red {
  background-color: #b05f6d;
  color: white;
}

.blue {
  background-color: #275db3;
  color: white;
}

.home {
  background-color: pink;
  color: black;
  display: i;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  padding: 25px 0;
}

.home-description {
  background-color: #ffffff;
  position: relative;
  z-index: 20;
  padding: 20px;
  border-radius: 5px;
  text-align: justify;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 25px;
}

h1 {
  color: white;
}
